body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    font-weight: bold;
    position: relative;
}

h1 a:any-link, h2 a:any-link, h3 a:any-link, h4 a:any-link, h5 a:any-link {
    text-decoration: none;
    color: black;
}

h6 a:any-link {
    text-decoration: none;
    color: #777777;
}

h1 {
    font-size: 2em;
    color: black;
}

h2 {
    font-size: 1.6em;
    border-bottom: 1px solid #cccccc;
    color: black;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.15em;
}

h5 {
    font-size: 1em;
}

h6 {
    color: #777777;
}

p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

hr {
    border: 1px solid;
    color: #cccccc;
    padding: 0;
}


li p.first {
    display: inline-block;
}

li {
    margin: 0;
}

ul, ol {
    padding-left: 30px;
}

ul :first-child, ol :first-child {
    margin-top: 0;
}

dl {
    padding: 0;
}

dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

dl dt:first-child {
    padding: 0;
}

dl dt> :first-child {
    margin-top: 0;
}

dl dt> :last-child {
    margin-bottom: 0;
}

dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

dl dd> :first-child {
    margin-top: 0;
}

dl dd> :last-child {
    margin-bottom: 0;
}

blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

blockquote> :first-child {
    margin-top: 0;
}

blockquote> :last-child {
    margin-bottom: 0;
}

li ul {
    margin: 5px;
}

table {
    padding: 0;
    border-collapse: collapse;
}

table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
    margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

span.frame {
    display: block;
    overflow: hidden;
}

span.frame>span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}

span.frame span img {
    display: block;
    float: left;
}

span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}

span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

span.align-center>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}

span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

span.align-right>span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}

span.align-right span img {
    margin: 0;
    text-align: right;
}

span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}

span.float-left span {
    margin: 13px 0 0;
}

span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

span.float-right>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 93%;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 93%;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

pre code, pre tt {
    background-color: transparent;
    border: none;
}

sup {
    font-size: 83%;
    vertical-align: super;
    line-height: 0;
}

.spellcard {
    background-color: #eee6d0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    border-color: #bbaa90;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
}
.spellcard-title a, .spellcard-title {
    font-size: 1.3em;
    color: #2b1d0e;
    font-weight: bold;
    margin-bottom: 5px;
}
.spellcard-level-school {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}
.spellcard-property {
    margin-top: 5px;
    margin-bottom: 5px;
}

.itemcard {
    background-color: #eee6d0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    border-color: #bbaa90;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
}
.itemcard-title a, .itemcard-title {
    font-size: 1.3em;
    color: #2b1d0e;
    font-weight: bold;
    margin-bottom: 5px;
}
.itemcard-description {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}
.itemcard-property {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 2em;
    }
}

@media screen and (orientation: portrait) {
    body {
        font-size: 2em;
    }
}

@media print {

    table, pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #0f0f0f;
        color: #ddd;
    }

    a:link {
        color: #204e8a;
    }
    a:visited {
        color: #20838a;
    }

    h2 {
        border-color: #888;
    }

    h1 a:any-link, h2 a:any-link, h3 a:any-link, h4 a:any-link, h5 a:any-link {
        color: #aaa;
    }

    h6 a:any-link {
        color: #888;
    }

    h1, h2, h3, h4, h5 {
        color: #aaa;
    }

    h6 {
        color: #888;
    }

    hr {
        color: #888;
    }

    blockquote {
        color: #999;
        border-color: #999;
    }

    code, tt, pre {
        color: #ddd;
        border-color: #555;
        background-color: #333;
    }


    .spellcard {
        background-color: #22201e;
        border-color: #645e53;
    }
    .itemcard {
        background-color: #22201e;
        border-color: #645e53;
    }
    .spellcard-title a, .spellcard-title {
        color: #cfc1ac !important;
    }
    .itemcard-title a, .itemcard-title {
        color: #cfc1ac !important;
    }
}
